* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {}

header {
    padding: 20px 100px;
    background-color: #fff4e7;

}

.nev {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nev ul {
    display: flex;
}

.nev ul li {
    list-style: none;
    margin: 0px 15px;


}

.nev ul li a {
    color: black;
    text-decoration: none;
}

header .head-contant {
    width: 862px;
    margin: 25px auto;
    text-align: center;
}

header .head-contant>h1 {
    font-size: 4rem;
    font-weight: bold;
}

header .banner img {
    width: 100%;
}

main{
}
/*      */
main .first {
    margin: 25px auto;
    display: flex;
    padding: 0px 150px;
}

main .first .first-img{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
main .first .first-img>img{
    width: 100%;
}
main .first .first-text{
    width: 50%;
    padding: 85px 60px;
}

/*          */

main .second {
    margin: 25px auto;
    display: flex;
    padding: 0px 100px;
}

main .second .second-text{
    width: 50%;
    padding: 0px 31px;
    padding-top: 17px;
}
main .second .second-text p{
    font-size: 1rem;
    font-weight: normal;
}
main .second .second-text .content-1,
.content-2,
.content-3,
.content-4
{
    border-radius: 8px;
    box-shadow: 1px 1px 10px gainsboro ;
    padding: 10px 15px;
    margin: 10px 0px;
}


main .second .second-img{
    width: 50%;
}


main .second .second-img>img{
    width: 100%;
}

/*          */

main .three {
    margin: 40px auto;
    padding: 0px 100px;
}
main .three .three-text{
    width: 542px;
}

main .three .box-area{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

main .three .box-area .itam-1,
.itam-2,
.itam-3,
.itam-4
{
    text-align: center;
    width: 241px;
    height: 241px;
    padding: 47px;
    border: 2px solid #FF900E;
    border-radius: 8px;
}

/*              */

main .four {
    margin: 40px auto;
    padding: 0px 100px;
}

main .four .four-text{
    width: 542px;
    margin: auto;
    text-align: center;
}

main .four .box-img{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}

.footer{
    padding: 20px 0px;
    text-align: center;
    background-color: antiquewhite;
}

.footer p{
    font-size: 20px;
}






/*   same items        */

.btn {
    cursor: pointer;
    padding: 10px;
    color: #fff;
    margin: 20px 0px;
    border-radius: 8px;
    font-size: 1.25rem;
    border: 2px solid #FF900E;
    background-color: #FF900E;
}

h3{
    font-size: 2.75rem;
    font-weight: bold;
    padding: 10px 0px;
}


h6{
    font-size: 1.25rem;
    padding: 10px 0px;
}

