* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {}

header {
    padding: 20px 100px;
    background-color: #fff4e7;

}

.nev {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nev ul {
    display: flex;
}

.nev ul li {
    list-style: none;
    margin: 0px 15px;


}

.nev ul li a {
    color: black;
    text-decoration: none;
}

header .head-contant {
    width: 862px;
    margin: 25px auto;
    text-align: center;
}

header .head-contant>h1 {
    font-size: 4rem;
    font-weight: bold;
}

header .banner img {
    width: 100%;
}










/*   same items        */

.btn {
    cursor: pointer;
    padding: 10px;
    color: #fff;
    margin: 20px;
    border-radius: 8px;
    font-size: 1.25rem;
    border: 2px solid #FF900E;
    background-color: #FF900E;
}

h3{
    font-size: 2.75rem;
    font-weight: bold;
}

